@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");


/* inicio do cabeçalho*/
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: #2f4538;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    color: #ebebeb;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li+li {
    margin-left: 24px;
}

header a {
    color: #ebebeb;
    text-decoration: none;
    transition: color 0.1s;
    font-size: 25px;
}

header a:hover {
    color: #e3c101;
}


/* fim do cabeçalho*/

.msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 380px;
    background: #e9ecef;
    padding-top: 30px;
    padding-bottom: 30px;
}

.conteudo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 380px;
    background: #2f4538;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ebebeb;
}

.conteudo3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 380px;
    background: #e9ecef;
    padding-top: 30px;
    padding-bottom: 30px;

}

.conteudo3 h1 {
    color: #2f4538;
}


.conteudo3 h4 {
    color: #2f4538;
}



.msg h5 b {
    color: #2f4538;
}

.conteudo5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 250px;
    background: #e9ecef;
    padding-top: 30px;
    padding-bottom: 30px;
    color:#e9ecef#2f4538;

}
.conteudo5 h1{
    margin-bottom: 32px;
    padding-left: 8px;
    border-left: 4px solid #2f4538;
    color: #2f4538;
} 

.conteudo5 b{
    color: #2f4538;
}



.frutas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 380px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #e9ecef;
    color: #2f4538;
    font-size: 25px;
}


.frutas h1 {
    font-size: 75px;
}




.frutas2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 380px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #2f4538;
    color: #2f4538;
    font-size: 25px;
}


.area-conteudo {
    background-color: #e9ecef;
    font-size: 25px;

}

.area-conteudo h3 {
    color: #2f4538;
}

.area-conteudo img {
    width: 250px;
    height: 250px;
}





.curiosidades1{
background-color: #e9ecef;
font-size: 20px;
}

.conteudo2 h1{
    margin-bottom: 32px;
    padding-left: 8px;
    border-left: 4px solid #e9ecef;
} 


.conteudo3 h1{
    margin-bottom: 32px;
    padding-left: 8px;
    border-left: 4px solid #2f4538;
} 





.frutas h1 {
    color: #e9ecef;
}

.frutas p {
    color: #e9ecef;
}

.imagem-suco {
    height: 300px
}




.rodape1 ul{
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #e9ecef;
    margin-bottom: 0;
}

.rodape1 ul li+li{
    margin-left: 30px;
}


.rodape1 a{
    color: #2f4538;
    text-decoration: none;
    transition: color 0.1s;
    font-size: 18px;
    
}

.rodape1 a:hover{
    color: #e3c101;
}



.topo{
    text-align: right;
}

.topo ul li+li{
    margin-left: 30px;
}


.topo a{
    color: #e9ecef;
    text-decoration: none;
    transition: color 0.1s;
    font-size: 20px;
    
}



footer {
    background: #2f4538;
    color: #eee;
    padding: 5px;
    text-align: center;
}

footer .redesociais svg{
    padding: 2px;

}